body{
   height: 100vh;
   width: 100vw;
   background: url('image/ccc.png')center/cover no-repeat;
   
}
.image{
   width: 100%;
   height: 1180px;
   max-height: 1180px;
   position: relative;
   top: 50%;
}

.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.btb{
   background: linear-gradient(to right,#75ca19 ,#079628);
   background-color: #75ca19;
   color: #e9dfe1;
   font-family: Verdana;
   font-size: 21px;
   font-weight: 800;
   font-style: normal;
   text-decoration: none;
   padding: 20px 120px;
   border: 0;
   border-radius: 10px;
   display: inline-block;
   margin: 0;
   position: absolute;
   top: 80%;
   left: 50%;
}
.btb:hover{
   background: linear-gradient(to right,#89d054 ,#51a459);
   background-color: #89d054;
}
.btb:active{
   transform: scale(0.95);
  }
.btn{
   background: linear-gradient(to right,#75ca19 ,#079628);
   background-color: #75ca19;
   color: #e9dfe1;
   font-family: Verdana;
   font-size: 18px;
   font-weight: 800;
   font-style: normal;
   text-decoration: none;
   padding: 20px 110px;
   border: 0;
   border-radius: 10px;
   display: inline-block;
   margin: 0;
   position: absolute;
   top: 87%;
   left: 50%;
}
.btn:active{
   transform: scale(0.95);
  }

.popup{
   background-attachment: fixed;
   width: 800px;
   background: #fff;
   border-radius: 40px;
   border: 2px solid #000;
   position: absolute;
   top: 100%;
   transform: translate(-50%,-50%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4s, left 0.4s,top 0.4s;
}

.open-popup{
   visibility: visible;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%) scale(1);
}

.close-popup{
   visibility: hidden;
   top: 100%;
   transform: translate(-50%,-50%) scale(0.1);
}
.popup img{
   width: 400px;
   margin-top: -100px;
   border-bottom: 5%;
}

.popup h1{
   font-size: 38px;
   font-weight: 500;
   margin: 30px 0 10px;
}
.popup p{
   font-size: 22px;
}
.popup button{
   width: 100%;
   margin-top: 50px;
   padding: 10px 0;
   background: #6fd649;
   color: #fff;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
